html,
body {
    margin: 0;
    padding: 0;
    border: none;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 12px;
}

.main {
    flex-grow: 2;
}

.header {
    border-bottom: 2px dashed;
}

._header {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}

#blog-name {
    font-size: 19px;
    font-weight: 600;
    flex-grow: 2;
}

.header-item {
    padding: 0px 12px;
    justify-self: center;
}

._main {
    display: flex;
    justify-content: center;
}

.posts {
    padding-left: 12px;
    padding-right: 12px;
}

.post {
    max-width: 800px;
    min-width: 600px;
    padding: 12px 0px;
}

@media screen and (max-width: 600px) {
    .post {
        max-width: 600px;
        min-width: auto;
    }
}

.footer {}

._footer {
    display: flex;
    justify-content: center;
}

.footer-item {
    text-align: center;
    padding-top: 12px;
}

span.timestamp {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
    font-weight: 600;
}